---
whiskers:
  version: "2.4.0"
  matrix:
    - flavor
  filename: "themes/catppuccin-{{ flavor.identifier }}.conf"
---
{% for _, c in flavor.ansi_colors -%}
palette = {{ c.code }}=#{{ c.hex }}
{% endfor -%}
background = {{ base.hex }}
foreground = {{ text.hex }}
cursor-color = {{ rosewater.hex }}
cursor-text = {{ base.hex }}
selection-background = {{ overlay2 | mix(color=base, amount=0.2) | get(key="hex") }}
selection-foreground = {{ text.hex }}
